<input type="checkbox" id="check">

<header>
  <label for="check"> <i style="margin-left: -45px;" class="fas fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="left_area">
    <h3>
      TTP <span>Shoes</span>
    </h3>
  </div>
  <div class="right_area">
    <a href="#" (click)="logout($event)" class="logout_btn">Logout</a>
  </div>z
</header>

<div class="sidebar">
  <div style="text-align: center;">
    <img src="assets/img/admin-icon.jpg" class="profile_image" alt="">
    <h4>Admin</h4>
  </div>
  <ul>
    <li><a href="product"><i class="fas fa-desktop"></i><span>Dashboard</span></a></li>
    <li><a href="product"><i class="fas fa-clipboard-list"></i><span>List Product</span></a></li>
    <li><a href="order"><i class="fas fa-clipboard-list"></i><span>List Order</span></a></li>
    <li><a href="orderSuccess"><i class="fas fa-clipboard-list"></i><span>List Order Success</span></a></li>
    <li><a href="top"><i class="fas fa-clipboard-list"></i><span>Top List</span></a></li>
  </ul>
</div>

<div class="content pt-5">
  <router-outlet></router-outlet>
</div>