<input type="checkbox" id="check">

<header>
  <label for="check"> <i style="margin-left: -45px;" class="fas fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="left_area">
    <h3>
      TTP <span>Shoes</span>
    </h3>
  </div>
  <div class="right_area">
    <a href="#" class="logout_btn">Logout</a>
  </div>
</header>

<div class="sidebar">
  <div style="text-align: center;">
    <img src="assets/img/admin-icon.jpg" class="profile_image" alt="">
    <h4>Admin</h4>
  </div>
  <ul>
    <li><a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a></li>
    <li><a href="product"><i class="fas fa-clipboard-list"></i><span>List Product</span></a></li>
    <li><a href="#"><i class="fas fa-clipboard-list"></i><span>List Courses Type</span></a></li>
    <li>
      <a href="#"><i class="fas fa-table"></i><span>List Classes</span><i style="margin-left: 85px;" class="fas fa-caret-down"></i></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="fas fa-plus-circle"></i><span>Add Course</span></a></li>
        <li><a href="#"><i class="fas fa-plus-circle"></i><span>Add Class</span></a></li>
        <li><a href="#"><i class="fas fa-plus-circle"></i><span>Add Course Types</span></a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
